/* 
#selfdom-product {
    background-image: url(../images/CustompProduct/gexing-product.png);
    background-repeat: no-repeat;
    width: 994px;
    height: 342px;
    margin: 0 auto;
    margin-top: 80px;
}*/
